{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "plugin:@typescript-eslint/recommended",
        "prettier/@typescript-eslint",
        "plugin:prettier/recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "rules": {
        // "@typescript-eslint/explicit-function-return-type": "off",
    },
    "ignorePatterns": [
        "dist/*",
        "public/*",
        "node_modules/*",
        "coverage/*",
        "src/providers/core/*",
        "src/providers/addons/*",
        "jest.config.js"
    ]
}
