/**
*
*   Main styles
*
*/


body {
    padding: 10px;
}

body, h2 {
    font-family: 'Roboto', serif;
    font-weight: 300;

    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
